.emoji-container
  position absolute
  width 100%
  height 100%
  pointer-events none
  z-index 1000
  max-width 1200px
  left 0px
  right 0px
  margin 0 auto

  transform translate3d(0,0,0,0)
  div
    position absolute
    bottom -100px
    font-size 48px
    opacity 1
    transform translate(-33px,0%)

.big-text
  font-size 32px
  font-weight 400
  max-width 500px
  margin 0 auto
  margin-bottom 3rem

.med-text
  font-size 18px
  font-weight 600
  max-width 500px
  margin 0 auto
  margin-bottom 1rem
.song
  display flex
  position absolute
  left 50%
  height 90px
  top 3rem
  transform translate(-45px,0px)
  transition transform .5s, opacity 1s
  opacity 0
  .song-bubble
    width 30px
    height 30px
    background #f7f7f7
    margin-right 10px
    flex-grow 0
    border-radius 50%
    align-self center
    transition width .5s, height .5s
    font-size 25px
    line-height 31px
    border 1px solid #adadad
    display flex
    flex-direction column
    justify-content center
    p
      margin 0 auto
      padding-left 4px
  .song-bubble-active
    color white
    background black
    width 90px
    height 90px
    padding 1rem
    font-size 16px
    display flex
    border-radius 50%
    flex-direction column
    justify-content center
    border none
    position relative
    svg
      position absolute
      left 0px
      top 0px
      circle
        stroke white
        stroke-width 4px
        fill transparent

    p
      padding-left 0px




body
  height 100vh
#content
  font-family $atlas
  text-align center
  height 100%
  width 100%
  position relative
  overflow hidden

.swiper-container
  height 100%

.red-button
  background: #E16259;
  border: 1px solid #BE5643;
  border-radius: 6px;
  max-width 300px
  margin 0 auto
  font-family $atlas
  color white
  text-align center
  font-size 22px
  padding 1rem
  user-select none
  cursor pointer
  &:active
    background #bf4d45

.swiper-slide
  display flex
  flex-direction column
  justify-content center
  height 100%

.decades, .years
  width 100%
  display flex
  flex-wrap wrap
  max-width 290px
  justify-content center
  margin 0 auto
.decades
  flex-direction row-reverse
  max-width 400px


.grey-button
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.16);
  color rgba(0,0,0,.8)
  font-weight 600
  max-width 100px
  margin 0 auto
  border-radius 6px
  padding 1rem
  user-select none
  cursor pointer
  text-align center
  font-size 22px
  margin .5rem
  &:active
    background #eee

.options
  div
    border-radius 6px
    margin 0 auto
    margin-bottom 1rem
    padding 1rem
    background red
    user-select none
    cursor pointer
    max-width 300px
    font-weight 400
    span
      font-size: 26px;
      top: 6px;
      display: inline-block;
      position: relative;
      left: -1px;
      line-height 0
    &:first-of-type
      background #FDDFCC
      position relative
      &:before
        content 'Do you recognize this song?'
        position absolute
        top -1rem
        left 0px
        transform translate(0,-100%)
        text-align center
        width 100%
        font-size 16px
        font-weight 500
      span
        font-size 36px
        line-height 0
    &:nth-of-type(2)
      background #CFE4F9
    &:nth-of-type(3)
      background #E8D5CC
    &:nth-of-type(4)
      background #FFCCD2
