footer
  display none
#content
  font-family $atlas
  position relative
  width 100%
  .start-slide
    .grey-button
      margin 0 auto
      font-size 16px
      height 62px
  .loading-slide
    .big-text
      font-family $atlas
      font-size 24px
  .byline
    position absolute
    right 1.5rem
    bottom 1.6rem
    z-index 1000
    height 1.4rem
    @media (max-width: 475px)
      top 1rem
      left 0px
      right 0px
    p
      font-size 12px
      margin 0
      font-family $atlas
      font-weight 300
      color rgba(0,0,0,.6)
      a
        border-bottom 1px solid rgba(0,0,0,.33)
        color rgba(0,0,0,.6)
  .pudding-logo
    position absolute
    bottom 1rem
    left 0px
    right 0px
    margin 0 auto
    display flex
    justify-content center
    z-index 1000


    p
      font-size 16px
      align-self center
      margin 0
      margin-right 10px
      font-family 'Lyon Text Web'
      margin-top -2px
      font-weight 300
      -webkit-font-smoothing auto
    a
      text-decoration none
      border none
      svg
        width 120px
    @media (max-width: 620px)
      right auto
      left 1.5rem
    @media (max-width: 475px)
      right 0px
      left 0px
    @media (max-width: 374px)
      a
        svg
          width 120px
      p
        font-size 14px
        margin-top -2px


  .new-user
    display block
    .mid-text
      max-width 350px
      font-weight 300
      font-family 'Lyon Text Web'
      line-height 1.4
  .old-user
    display none
    justify-content space-around
    flex-direction column
    height 100%
    max-height 480px
    .old-top
      .decades
        .grey-button
          background #CFE4F9



    .decades
      display flex
    .old-bottom
      .decades
        .grey-button
          font-size 16px
          margin .2rem
          padding .7rem
  .color-recognize
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-weight: 600;
    white-space nowrap
    background-color rgb(255, 204, 210)
  .color-dont-recognize
    background rgba(255,107,124,.5)
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-weight: 600;
    white-space nowrap
  p
    color rgb(4,4,4)
    color rgba(0, 0, 0, 0.85)
  .songs-that-are-old-container
    .songs-that-are-old
      max-width 570px
      margin 0 auto
      font-size 18px
      width 95%
      margin-bottom 3rem
      font-family $atlas
      .row
        position relative
        display flex
        .quiz-end-section-item-text
          margin 0
          max-width none
          margin-left 5px
          font-size 14px
          margin-bottom 6px
          font-family $atlas
          .bold
            font-weight 500
        .quiz-end-section-item-play
          cursor pointer
          margin-top -4px

  .grid-chart-container
    .grid-chart
      max-width 570px
      margin 0 auto
      .row
        width 100%
        position relative
        display flex
        margin 0 auto
        margin-bottom 10px
        z-index -1
        &:first-of-type
          height 55px
          background white
          position sticky
          top 0px
          left 0px
          z-index 1000
          .box-container
            .box
              position relative
              &:before
                content 'Gen Z'
                position absolute
                top 0px
                left 0px
                right 0px
                transform translate(0,198%)
                font-size 13px
                text-align center
              &:after
                content 'Ages 13–22'
                position absolute
                top 0px
                margin 0 auto
                left 0px
                right 0px
                transform translate(0,25%)
                font-size 10px
                width 40px
                text-align center
                font-weight 400
              &:nth-of-type(2)
                &:before
                  content 'Millennials'
                &:after
                  content 'Ages 23–38'
              &:nth-of-type(3)
                &:before
                  content 'Gen X'
                &:after
                  content 'Ages 39–54'
              &:nth-of-type(4)
                &:before
                  content 'Boomers'
                &:after
                  content 'Ages 55–73'
        .box-container
          display flex
          flex-grow 1
          margin 0
          border-bottom 1px solid rgba(0, 0, 0, 0.21)
          .box
            width 60px
            display flex
            flex-direction column
            justify-content center
            margin-right 5px
            flex-grow 1
            position relative
            .box-height
              position absolute
              bottom 0px
              left 0px
              right 0px
              width 80%
              margin 0 auto
              height 100%
              z-index 0
            p
              font-size 16px
              font-family $atlas
              margin 0
              z-index 100
              text-align center
              line-height 1.1
        .row-label
          //position absolute
          transform translate(0px,0)
          font-size 12px
          width 100%
          max-width 140px
          flex-grow 1
          font-family $atlas
          //top 50%
          //left -5px
          text-align right
          line-height 1.3
          margin 0
          padding 5px
          span
            font-weight 500
            font-size 11px

  .output
    .bar-chart
      max-width 570px
      margin 0 auto
      margin-bottom 6rem
      overflow hidden
      p
        font-family $atlas
      .row
        display flex
        width calc(100% - 190px)
        margin 0 auto
        position relative
        margin-bottom 10px
        &:first-of-type
          .row-bar
            .row-percent
              line-height 1
              width 100px
              top 3px
              span
                font-weight 400
        .row-label
          display inline-block
          margin 0
          position absolute
          transform translate(-100%,0px)
          text-align right
          font-weight 600
          left -5px
          font-size 14px
          span
            position absolute
            right 0px
            bottom 5px
            width 80px
            font-size 12px
            transform translate(0,100%)
            font-weight 300
        .row-bar
          background orange
          position relative
          height 35px
          .row-percent
            position absolute
            right -6px
            font-size 14px
            transform translate(100% ,0px)
            font-weight 600
            top 5px
            color rgba(0,0,0,.6)
  .output
    //background #f7f7f7
    padding-top 5rem
    display none
    .video-container
      max-width 570px
      margin 0 auto
      video
        width 100%
        margin 0 auto
    p
      font-size 20px
      font-weight 300
      max-width 570px
      width 95%
      margin 0 auto
      margin-bottom 1.4rem
      font-family: 'Lyon Text Web';
      line-height: 1.6;
    .chart-head
      font-family $atlas
    .song-knew-compare
      margin-top 1rem
      .chart-head
        line-height 1.7
        margin-bottom 3rem
        font-family $atlas
      .chart-head-alt
        line-height 1.7
        margin-bottom 3rem
        display none
        font-family $atlas
    .big-text
      font-size 41px
      font-weight 300
      max-width 570px
      width 95%
      margin 0 auto
      line-height 1.3
      margin-bottom 3rem
      font-family: 'Lyon Display Web';
    .med-text
      font-size 24px
      font-weight 300
      max-width 570px
      margin 0 auto
      margin-top 4rem
      margin-bottom 1rem
    .space
      height 0rem
      display block
    .quiz-end
      max-width 800px
      margin 0 auto
      padding-top 1rem
      width 95%
      display flex
      font-family $atlas
      flex-wrap wrap
      .quiz-end-section
        margin-bottom 50px
        max-width 400px
        flex-grow 1
        @media (max-width: 450px)
          width 100%

    .quiz-end-section-title
      margin 0
      display inline-block
      font-size 14px
      border-radius 6px
      margin 0 auto
      padding .3rem .8rem
      font-family $atlas
      background red
      user-select none
      cursor pointer
      font-weight 400
      position relative
      width 90%
      margin 0
      margin-bottom 1rem
      //margin-left 34px
      span
        font-size 22px
        top 4px
        display inline-block
        position relative
        left -4px
        line-height 0

      //&:before
        //content 'You'
        //position absolute
        //left -8px
        //top 50%
        //transform translate(-100%,-50%)

    .quiz-end-section-items
      width 90%
      .quiz-end-section-item
        display flex
        .quiz-end-section-item-play
          cursor pointer
          svg
            margin-top -3px
            margin-right 8px
        .quiz-end-section-item-text
          margin 0
          font-size 16px
          line-height 1.4
          font-family $atlas
          margin-bottom .8rem
          font-weight 400
          .bold
            font-weight 500


  .bold
    font-weight 600


  .loading
    width: 50px;
    height: 50px;
    border: 4px solid #E5E5E5;
    border-radius: 50%;
    border-top: 4px solid #40B3F0;
    animation: move 1.5s ease-in-out infinite;
    margin 0 auto

  @keyframes move {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .emoji-container
    position absolute
    width 100%
    height 100%
    pointer-events none
    z-index 1000
    max-width 1200px
    left 0px
    right 0px
    margin 0 auto

    transform translate3d(0,0,0,0)
    div
      position absolute
      bottom -100px
      font-size 48px
      opacity 1
      transform translate(-33px,0%)

  .big-text
    width 95%
    margin 0 auto
    line-height 1.3
    margin-bottom 3rem
    font-family 'Lyon Display Web'
    font-weight 300
    font-size 48px
    max-width 720px
    line-height 1.3
    @media (max-width: 600px)
      font-size 36px



  .med-text
    font-size 18px
    font-weight 300
    max-width 500px
    margin 0 auto
    margin-bottom 1rem
    width 95%
    font-family: 'Lyon Text Web';
    font-weight: 300;
    font-size: 24px;
  .mid-text
    font-weight 400
    font-size 24px
    width 95%
  .song
    display flex
    position absolute
    left 50%
    height 90px
    top 3rem
    transform translate(-45px,0px)
    transition transform .5s, opacity 1s
    opacity 0
    counter-reset section
    .song-bubble
      width 30px
      height 30px
      background #f7f7f7
      margin-right 10px
      flex-grow 0
      border-radius 50%
      align-self center
      transition width .5s, height .5s
      font-size 25px
      line-height 31px
      border 1px solid #adadad
      display flex
      flex-direction column
      justify-content center
      counter-increment section
      &:before
        opacity 0
        transition opacity 1s
      p
        margin 0 auto
        padding-left 4px
    .song-bubble-active
      color white
      background rgb(4,4,4)
      width 90px
      height 90px
      padding 1rem
      font-size 16px
      display flex
      border-radius 50%
      flex-direction column
      justify-content center
      border none
      position relative
      div
        &:before
          content counters(section, "") " of 10"
          position absolute
          top 60px
          color black
          transform translate(0,100%)
          text-align center
          width 100%
          left 0px
          font-weight 400
          font-size 14px
          opacity 1
          transition opacity 1s

      svg
        position absolute
        left 0px
        top 0px
        circle
          stroke-width 4px
          fill transparent

      p
        padding-left 0px





  .quiz-wrapper
    height 100vh
    width 100%
    position relative
    overflow hidden
    text-align center
    display flex
    flex-direction column
    justify-content flex-start
    .quiz
      height 100%

  .swiper-container
    height 100%
    .song-quiz
      justify-content flex-start

  .blue-button
    background: #E16259;
    border: 1px solid #BE5643;
    border-radius: 6px;
    max-width 300px
    margin 0 auto
    font-family $atlas
    color white
    text-align center
    font-size 22px
    padding 1rem
    user-select none
    cursor pointer
    position relative
    padding-left 4rem

  .red-button
    background: #E16259;
    border: 1px solid #BE5643;
    border-radius: 6px;
    display none
    max-width 300px
    margin 0 auto
    font-family $atlas
    color white
    text-align center
    font-size 22px
    padding 1rem
    user-select none
    cursor pointer
    position relative
    padding-left 4rem
    svg
      position absolute
      left 15px
      top 20px
    &:active
      background #bf4d45

  .swiper-slide
    display flex
    flex-direction column
    justify-content center
    height 100%

  .decades, .years, .redo-buttons
    width 100%
    display flex
    flex-wrap wrap
    max-width 290px
    justify-content center
    margin 0 auto
    .grey-button
      max-width 300px
      background-color rgb(239, 238, 236)
      color rgb(55, 53, 47)
  .decades
    flex-direction row-reverse
    max-width 400px
  .years
    max-width 600px


  .grey-button
    //box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.16);
    color rgba(0,0,0,.8)
    font-weight 600
    max-width 100px
    margin 0 auto
    border-radius 6px
    padding 1rem
    user-select none
    cursor pointer
    text-align center
    font-size 22px
    margin .5rem
    &:active
      background #eee

  .options
    padding-top 300px
    div
      border-radius 6px
      margin 0 auto
      margin-bottom 1rem
      padding 1rem
      background red
      user-select none
      cursor pointer
      max-width 240px
      font-weight 400
      span
        font-size: 26px;
        top: 6px;
        display: inline-block;
        position: relative;
        left: -1px;
        line-height 0
      &:first-of-type
        background #FDDFCC
        position relative
        &:before
          content 'Do you recognize this song?'
          position absolute
          top -2rem
          left 50%
          transform translate(-50%,-100%)
          text-align center
          width 300px
          font-size 32px
          font-weight 300
          width: 370px
          font-family 'Lyon Display Web'
        @media (max-width: 450px)
          &:before
            font-size 24px
            font-family 'Lyon Text Web'
        span
          font-size 36px
          line-height 0
      &:nth-of-type(2)
        background #FFCCD2
      &:nth-of-type(3)
        background #E8D5CC
      &:nth-of-type(4)
        background #CFE4F9
