<div class="music-recirculation">
  <p>This project is part of a series by <a href="/">The Pudding</a> about</p>
  <h3>How Music Is Remembered</h3>
  <div class="entry">
    <p class="">View Part 2</p>
    <a target="_blank" href="https://pudding.cool/2020/07/song-decay/" target="_blank">Defining the &rsquo;90s Music Canon</a>
  </div>
  <div class="entry">
    <p class="">View Part 3</p>
    <a target="_blank" href="https://pudding.cool/2020/09/wedding-playlists/" target="_blank">A Data-led Theory to Generationally Divide Dance Floors</a>
  </div>
</div>
