<div class="music-recirculation">
  <p>This project is part of a series by <a href="/">The Pudding</a> about</p>
  <h3>How Music is Remembered</h3>
  <div class="entry">
    <p class="">View Part 2</p>
    <a href="https://pudding.cool/2020/07/canon/" target="_blank">Defining the &rsquo;90s Music Canon</a>
  </div>
</div>
