<div class="output">
  <p class="big-text">You knew <span class="know">5</span> of <span class="total">10</span> songs, which were just added to the <span class="total-entries"></span> data points we have on how music fades from cultural knowledge.</p>
  <p>First, here are all the songs you just listened to, all Billboard Hot 100 top 5 hits and massively popular in their day.</p>
  <div class="quiz-end">
  </div>
  <p>This project is inspired by a YouTube trend where Gen Z’ers film themselves listening to Queen, The Beatles, and  Led Zeppelin for, astonishingly, the first time.</p>
  <p>I want to quantify this: music that I assumed was culturally pervasive, but in actuality has no reason to be revered by folks outside my generation.</p>
  <p>That is, should I be surprised that someone born in the 2000s has never heard my childhood anthem, “The Sign” by Ace of Base?</p>
  <div class="song-knew-compare">
    <p class="chart-head med-text">For example, you knew the song <span class="song-knew"></span>, but <span class="song-knew-percent"></span> of <span class="song-knew-gen"></span> <span class="color-recognize">recognize</span> it.</p>
    <p class="chart-head-alt med-text">For example, <span class="song-knew"></span> hasn’t been passed down to the younger generation: Gen Z doesn’t <span class="color-recognize">recognize</span> it as well as Millennials.
    </p>
    <div class="bar-chart">
    </div>
  </div>
  <div class="non-gen-z">
    <p>This song came out in <span class="compare-year">1998</span>. It’s been <span class="delta">30</span> years since its release. To someone under 20, it’s as old as a song from <span class="baseline-year">1975</span> might seem to you. Even the most popular songs from history—the equivalent of “Hey Ya” by Outkast in <span class="baseline-year">1975</span>—might have faded in the same way as &ldquo;Gettin’ Jiggy With it&rdquo; by Will Smith.
    <div class="songs-that-are-old-container">
      <p>Take a look yourself...here’s a sampling of top 3 hits from <span class="baseline-year">1975</span>: how many do you recognize?</p>
      <div class="songs-that-are-old">
      </div>
    </div>
  </div>
  <div class="grid-chart-container">
  </div>
  {{> story/musicRecirc }}
  {{> story/preFooter }}
  {{> base/footer }}
</div>
