<div class="output">
  <p class="big-text">We’re identifying songs unknown by younger generations.</p>
  <p>This is inspired by a YouTube trend where Gen Z’ers film themselves listening to Queen, The Beatles, and Led Zepplin for, astonishingly, the first time.</p>
  <p>We’re quantifying generational gaps in music; your quiz answers power a dataset on how popular songs fade from culture.</p>
  <p>First, let’s review the songs you just listened to, which all charted in the top 3 on the Billboard’s Hot 100 and were massively popular in their day.</p>
  <div class="space">
  </div>
  <p class="med-text">You were quizzed on <span class="total">10</span> Billboard top 3 hits from the <span class="song-decade">1970</span>s, and you knew <span class="know">50</span>% of them.
  <div class="quiz-end">
  </div>
  <p>With your entry, we have data from <span class="total-entries">100</span> people; let’s look at some gaps in cultural memory.</p>
  <div class="song-knew-compare">
    <p class="chart-head med-text">You knew the song <span class="song-knew"></span>, but <span class="song-knew-percent"></span> of <span class="song-knew-gen"></span> <span class="color-dont-recognize">don’t recognize.</span></p>
    <p class="chart-head-alt med-text"><span class="song-knew"></span> hasn’t been passed down to the younger generation. Gen Z <span class="color-dont-recognize">doesn’t recognize</span> it as well as Millennials.
    </p>
    <div class="bar-chart">
    </div>
  </div>
  <p>This song came out in <span class="compare-year">1998</span>—it’s as old to Gen Z’ers as a song from <span class="baseline-year">1975</span> might seem to you. Still not convinced? Here’s a sample of top 3 hits from <span class="baseline-year">1975</span>...recognize any of them?</p>
  <div class="songs-that-are-old">

  </div>
  <p>I needed this mindset when I watched a recent TikTok trend, where teens dance to songs from the early 2000s, well before they were born. Is it really that surprising that Nickelback hasn’t stood the test of time?</p>
  <div class="video-container">
    <video src="/assets/images/tiktok.mp4" controls>

    </video>
    <p>lskdjfdslf</p>
  </div>
  <!-- <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@cringecarter/video/6797126488882777350" data-video-id="6797126488882777350" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@cringecarter" href="https://www.tiktok.com/@cringecarter">@cringecarter</a> <p>if you look closely you can see my shoe go straight under the car🥴🤪 <a title="foryou" target="_blank" href="https://www.tiktok.com/tag/foryou">##foryou</a> <a title="oneminutevlog" target="_blank" href="https://www.tiktok.com/tag/oneminutevlog">##oneminutevlog</a> <a title="nostalgia" target="_blank" href="https://www.tiktok.com/tag/nostalgia">##nostalgia</a> <a title="millennial" target="_blank" href="https://www.tiktok.com/tag/millennial">##millennial</a> <a title="bestfriend" target="_blank" href="https://www.tiktok.com/tag/bestfriend">##bestfriend</a> <a title="shoegame" target="_blank" href="https://www.tiktok.com/tag/shoegame">##shoegame</a> ￼</p> <a target="_blank" title="♬ Millennial Music Challenge 1 - officialstevenwalker" href="https://www.tiktok.com/music/Millennial-Music-Challenge-1-6795730833912236806">♬ Millennial Music Challenge 1 - officialstevenwalker</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script> -->
  <!-- <div class="song-didnt-know-compare">
    <p class="chart-head med-text">You didn&rsquo;t know <span class="song-knew"></span>, but <span class="song-knew-percent"></span> of <span class="song-knew-gen"></span> <span class="color-recognize">recognize</span> this song.</p>
    <div class="bar-chart">
    </div>
  </div> -->
  <div class="grid-chart">

  </div>
</div>
