<div class="pre-footer">
  <div class="patreon-cta">
    <p>Enjoy this project? Consider helping fund us on Patreon.</p>
    <button type="button" name="button">
      <a href="https://patreon.com/thepudding">Become a Patron</a>
    </button>
  </div>
  <div class="newsletter-cta">
    <p>You should subscribe our newsletter too.</p>
    <input type="text" name="" value="">
    <button type="button" name="button">Subscribe</button>
  </div>
</div>
